* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clear-float{
    clear: both;
}

/* modal for button buy ticket */

.modal-buy-ticket{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;

    /* hide modal */
    display: none;
}

.modal-container{
    position: relative;
    width: 900px;
    max-width: 95%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    animation: modalFadeIn ease 0.7s;
}

.modal-header{
    display:flex;
    /* text-align: center; */
    background-color: #009688;
    color: #fff;
    height: 130px;
    justify-content: center;
    align-items: center;
    font-size:30px;
    font-weight:500;
}

.modal-header .ti-bag {
    margin-right:10px;
}


.modal-header .close-btn{
    position: absolute;
    top: 0;
    right: 0;
    /* width: 40px;
    height:40px; */
    padding :15px;
    background-color: #009688;
    border:none;
    cursor: pointer;
    transition: all 0.4s;
}

.modal-header .close-btn:hover{
    background-color:#DDD;
}

.modal-body{
    padding: 0 16px;
    padding-bottom: 20px;
    background-color: #fff;
}


.input-label {
    display: inline-block;
    margin-top: 24px;
    margin-bottom:12px;
    width: 100%;
}

.modal-input input {
    padding:8px;
    box-sizing: border-box;
    width: 100%;
    border:1px solid #CCC;
}

.modal-body > button{
    padding: 16px;
    margin:16px 0;
    width: 100%;
    border: none;
    background-color: #009688;
    cursor: pointer;
}

.modal-body > button:hover{
    background-color: #DDD;
}

.modal-footer  {
    /* position: absolute;
    bottom: 10px;
    right: 10px; */
    text-align: right;
    margin: 12px 0;
}

@keyframes modalFadeIn {
    from{
        transform: translateY(-400px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* end modal */

.header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 1;
}


.navigation{
    display: flex;
    font-weight: 500;
}

.menu {
    padding: 12px 24px;
    text-decoration: none;
    height: 100%;
    color : #fff;
    text-transform: uppercase;
}


.menu:hover {
    background-color: #DDD;
    color: #000;
}



.dropdown-menu {
    position: relative;
}

.dropdown-menu ul{
    list-style: none;
}
.dropdown-menu:hover  .sub-menu{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: #000;
}

.sub-menu {
    position:absolute;
    flex-direction: column;
    display:none; 
    min-width: 160px;
    top: 100%;
    left: 0;
    text-transform: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.sub-menu a{
    padding: 8px 20px;
    text-decoration: none;
    color: #000;
}

.sub-menu a:hover{
    background-color: #DDD;
}

.ti-angle-down{
    display: inline-block;
    font-size:14px;
}

.search-btn{
    position: absolute;
    padding: 12px 24px;
    right: 0;
    top: 0;
    text-align: center;
}

.search-btn i {
    color:#fff;
}

.search-btn:hover{
    background-color: red;
    cursor: pointer;
}

.menu-mobile-btn{
    display: none;
    position: absolute;
    padding: 12px 24px;
    right: 0;
    top: 0;
    text-align: center;
}

/* END Header */

.slider-show{
    position: relative;
    width: 100%;
}

.slide{
    transition: 0.6s ease;
    display: none;
}

.img-slide{
    width: 100%;
    object-fit: cover;
    height:800px;
}
.slide-description {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 32px 16px;
    width: 100%;
    color:rgb(4, 63, 224);
    text-align: center;
    box-sizing: border-box;
}

.slide-description .location {
    margin:10px 0px;
    font-size:24px;
    font-weight: 500;
}

.text {
    margin: 15px 0 ;
    font-size:15px;
}

.content {
    /* position: relative;
    z-index: -1 ; */
    margin-top: 45px;
}



.content-section{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding:64px 16px;
}

.content-section .title{
    text-transform: uppercase;
    font-size:30px;
    font-weight:400;
    letter-spacing: 4px;
    margin:10px 0;                                      
}

.content-section .content-section__description{
    text-align: justify;
    margin: 15px 0;
    line-height: 1.4;
}

.content-section .sub-title{
    font-size:15px;
    color:#BBB;
    margin: 15px 0 ;
}

.about-section-member{
    display: flex;
    justify-content: space-around;
    padding: 32px 0;
}

.member{

}

.member .name{
    letter-spacing: 4px;
    font-weight:600;
    margin: 15px 0;
}

.member .member__img{
    margin-top: 10px;
    width: 150px;
    height:200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content-section-dark{
    background-color: #000;
}

.content-section-dark .title{
    color:#fff;
}

.content-section__description{
    padding: 8px 10px;
}

.month{
    background-color: #FFF;
    padding: 8px 16px;
    border-bottom: 1px solid #DDD;
}

.sold-out{
    display: inline-block;
    background-color: red;
    padding: 0 8px;
    margin-left:16px;
    color : #fff;
}


.number-ticker{
    float: right;
    color: #fff;
    width: 22px;
    padding-left: auto;
    padding-right:auto;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
}

.list-ticket{
    display:flex;
    justify-content: space-between;
    padding:32px 0;
}

.ticket{
    background-color: #fff;
    margin:0 10px;
    margin-bottom: 16px;
    text-align: left;
}

.list-ticket:first-child{
    margin-left: 0px; 
}

.list-ticket:last-child{
    margin-right: 0px;
}

.ticket img{
    max-width : 100%;
    height: 183px;
    transition: all 0.6s;
}

.ticket img:hover{
    opacity: 0.5;
}

.ticket-content{
    padding: 10px 15px;
}

.ticket-content .location{
    font-weight: 700;
    margin-bottom:10px;
}

.ticket-content .ticket-date {
    color:#AAA;
}

.buy-ticket-btn {
    margin-top:10px;
    padding: 8px 16px;
    background-color:#000;
    color:#fff;
    cursor: pointer;
    
    border:none;
}

.buy-ticket-btn:hover{
    background-color:#DDD;
    color:#000;
}


/* begin :CONTACT  */

.row{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.col{
    text-align: left;
}

.col-half {
    width:100%;
    flex-grow: 0.5;
}

.contact-info{
    display: flex;
    height:100%;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    font-size: 18px;
    line-height:1.5;
}
.contact-info i {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size:15px;
}

.contact-form .form-control {
    border:1px solid #ccc;
    padding:10px;
    box-sizing: border-box;
}

.col-half-flex-2{
    display: flex;
}

.form-name,
.form-email{
    flex-grow: 0.5;
}

.form-name{
    margin-right: 5px;
}

.form-email{
    margin-left: 5px;
}

.form-message{
    width: 100%;
}

.form-submit-btn{
    padding:10px;
    width: 70px;
    background-color:#000;
    color:#fff;
    float: right;
    cursor: pointer;
    border:none;
}

.form-submit-btn:hover{
    color:#000;
    background-color:#ccc;
}

.content-section::after{
    content:"";
    display: block;
    clear: both;
}
/* End :contact */

/* map section */
.map-section img{
    width: 100%;
}
/* end map section */

/* footer */
.footer{
    padding:64px 16px;
    font-size:24px;
    line-height:1.5;
    text-align:center;
    background-color: #f1f1f1;
}

.footer p {
    margin:15px 0;
    font-size:15px;
}

.footer i:hover{
    opacity: 0.6;
}
/* end : footer */

/*BEGIN responsive */

/*BEGIN mobile */
@media (max-width:739px) {
    .header{
        height: 45px;
    }
    .navigation {
        display:none;
        flex-direction: column;
        background-color: #000;
    }
    .search-btn {
        display: none;
    }

    .menu{
        padding:14px 24px;
    }

    .menu-mobile-btn{
        display: block;
        color: #fff;
    }

    .about-section-member,
    .list-ticket,
    .row{
        flex-direction: column;
    }

    .ticket img{
        height: auto;
    }

    .img-slide {
        height: auto;
    }
    .col-half-flex-2{
        flex-direction: column;
    }

    .form-email, .form-name{
        margin:5px 0;
    }

    .dropdown-menu:hover .sub-menu{
        background-color: rgb(37, 36, 36);
    }
    .sub-menu a{
        color: #fff;
        padding: 13px 40px;
    }

    .sub-menu a:hover {
        background-color: #DDD;
        color: #000;
    }
}
/* END bile */
/* END responsive */