* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #000;
}


.navigation{
    display: flex;
    font-weight: 500;
}

.menu {
    padding: 12px 24px;
    text-decoration: none;
    color : #fff;
    text-transform: uppercase;
}


.menu:hover {
    background-color: #DDD;
    color: #000;
}



.dropdown-menu {
    position: relative;
}

.dropdown-menu ul{
    list-style: none;
}
.dropdown-menu:hover  .sub-menu{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: #000;
}

.sub-menu {
    position:absolute;
    flex-direction: column;
    display:none; 
    min-width: 160px;
    top: 100%;
    left: 0;
    text-transform: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.sub-menu a{
    padding: 8px 20px;
    text-decoration: none;
    color: #000;
}

.sub-menu a:hover{
    background-color: #DDD;
}

.ti-angle-down{
    display: inline-block;
    font-size:14px;
}

.search-btn{
    position: absolute;
    height: 100%;
    width:50px;
    box-sizing: border-box;
    padding: 10px;
    right: 0;
    top: 0;
    background-image: url("../icon/search.png");
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

.search-btn:hover{
    background-color: red;
    cursor: pointer;
}
.slider-show{
    width: 100%;
    box-sizing: border-box;
}

.slide{
    transition: 0.6s ease;
    display: none;
}

img{
    width: 100%;
    object-fit: cover;
    height: 800px;
}
.location {
    margin:10px 0px;
    font-size:24px;
    font-weight: 500;
}

.text {
    margin: 15px 0 ;
    font-size:15px;
}

.content {
    position: relative;
    z-index: -1 ;
}

.slide-description {
    position: absolute;
    bottom: 0;
    padding: 32px 16px;
    width: 100%;
    /* left : 50%;
    transform: translate(-50%,0); */
    font-size: 30px;
    color:#fff;
    text-align: center;
}